@import "tailwindcss";

body {
  background-color: #D9CFC7;
  font-family: monospace;
}

html, body, #root {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-component{
  background-color: #668ba4;
  height: 500px;
  width: 900px;
  padding: 4rem;
  border-radius: 0.75rem;
}