@import "tailwindcss";

body {
  background-color: #D9CFC7;
  font-family: "Times New Roman", Times, serif;
}

html, body, #root {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}